numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1651020584890/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857374584/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work

ddt~=1.4.4
pip~=22.1
wheel~=0.33.1
setuptools~=49.2.1